* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 17px;
    line-height: 1.5;
}

.container, .search-area, .grid {
    display: flex;
    justify-content: center;
}

.container {
    flex-direction: column;
}

.search-area {
    max-width: 70%;
    margin: 0 auto;
    padding-left: 40px;
}

.grid {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

input[type="text"] {
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: auto;
    border: 3px solid gray;
}

.grid img {
    padding: 20px 25px;
}


@media (min-width: 768px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
    }
    input[type="text"] {
        width: 400px;
    }
    .grid img {
        padding: 10px 15px;
    }
    .column a {
        width: 28%;
        height: auto;
    }
    ul {
        padding-inline-start: 20px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .search-area {
        display: inline-block;
        margin: auto;
    }
    input[type="text"] {
        width: 500px;
    }
    .column a {
        width: 30%;
        height: auto;
    }

}

@media (min-width: 1200px) {
    .container {
        max-width: 1500px;
        margin: 0 auto;
    }
    .search-area {
        display: inline-block;
        margin: auto;
    }
    input[type="text"] {
        width: 550px;
    }
}