
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 17px;
    line-height: 1.5;
}

.search-area {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.search-area {
    max-width: 70%;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid {
    width: 100%;
    margin: auto;;
}
.grid ul {
    padding: 0;
}
.grid li, .grid li a {
    display: block;
}

.grid img {
    padding: 20px 25px;
    width: 100%;
    height: auto;
    display: block;
}

input[type="text"] {
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    border: 3px solid gray;
}

@media (min-width: 480px) {
    .grid li {
        width: 33%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }

    input[type="text"] {
        width: 400px;
    }

    .grid img {
        padding: 10px 15px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }
    .grid li {
        width: 25%;
    }
    input[type="text"] {
        width: 500px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
    input[type="text"] {
        width: 550px;
    }
}








