* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 17px;
    line-height: 1.5;
}

.container, .search-area, .grid {
    display: flex;
    justify-content: center;
}

.container {
    flex-direction: column;
}

.search-area {
    max-width: 70%;
    margin: 0 auto;
}

.grid {
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

input[type="text"] {
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    width: 200px;
    height: auto;
    border: 3px solid gray;
}

.grid img {
    padding: 20px 35px;
}

@media (min-width: 768px) {

    .container {
        max-width: 1000px;
        margin: 0 auto;
    }

    input[type="text"] {
        width: 400px;
    }
}

@media (min-width: 1020px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .search-area {
        display: inline-block;
        margin: auto;
    }
}